USE [AstraZenekaTest]
GO
/****** Object:  Table [dbo].[EmployeeData]    Script Date: 04.03.2026 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeData](
	[dataTypeID] [int] NULL,
	[monthDate] [date] NULL,
	[empID] [int] NULL,
	[areaID] [int] NULL,
	[regID] [int] NULL,
	[vol] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[EmployeeData] ([dataTypeID], [monthDate], [empID], [areaID], [regID], [vol]) VALUES (1, CAST(N'2024-11-01' AS Date), 1, 1, 1, CAST(130.00 AS Decimal(18, 2)))
INSERT [dbo].[EmployeeData] ([dataTypeID], [monthDate], [empID], [areaID], [regID], [vol]) VALUES (1, CAST(N'2024-12-01' AS Date), 1, 1, 1, CAST(112.00 AS Decimal(18, 2)))
INSERT [dbo].[EmployeeData] ([dataTypeID], [monthDate], [empID], [areaID], [regID], [vol]) VALUES (1, CAST(N'2024-01-01' AS Date), 1, 1, 2, CAST(113.00 AS Decimal(18, 2)))
GO
